#tabla-asistencia_wrapper{
    display: flex;  
    flex-direction: column;
    align-items: center;
}
#tabla-asistencia_paginate{
    margin: 0 auto; /* requerido para alineación horizontal */
    display: block;
}
#tabla-asistencia th {text-align: center;}